.sheepnav {
  @extend .navbar;
  @extend .fixed-top;
  background-color: $navbar-bg-color;
  color: $navbar-font-color;
  .navbar-brand {
    color: $navbar-font-color;
    .logo {
      width: 2rem;
      height: 2rem;
    }
    &:hover {
      color: $accent-color;
    }

  }

  .navbar-right {
    width:100%;
    justify-content: flex-end;
  }
  .page-title
  {
    @include media-breakpoint-down(xs) {
      margin-left: 60px;
    }
    font-size: 2.4rem;
    padding-bottom: 0;
    font-weight: bold;
  }
}