html {
  -webkit-font-smoothing: antialiased;
}
@include media-breakpoint-up(sm) {
  .slide-nav-out  main.container-fluid {
    margin-left: 200px;
  }
}
.main-content {
  @include make-row();
  @include transition('all 2s');
  padding-top: ($grid-gutter-width-base / 2);
  padding-bottom: ($footer-fixed-height * 2);
  margin-top: 60px;
  .barba-container {
    @include make-col-ready();
    @include make-col(12);
  }
}





