.navbar,
.nav {
  .navbar-brand {
    color: $navbar-font-color;
    .logo {
      width: 2rem;
      height: 2rem;
    }
    &:hover {
      color: $accent-color;
    }
  }
}

// pills and tabs
.nav-tabs,
.nav-pills {
  .nav-link {
    padding: $nav-tabs-pills-link-padding;
    font-size: $nav-tabs-pills-font-size;
    font-weight: $nav-tabs-pills-font-weight;
    border: 0;
  }
}

// tabs only
.nav-tabs {
  .nav-link {
    transition: all 0.3s linear;
    border-bottom: $nav-tabs-border-size solid $navbar-border-color;
    &:hover {
      color:$nav-tabs-active-color;
    }
  }
  // colors
  @include bmd-tabs-color($nav-tabs-color, $nav-tabs-active-color, $nav-tabs-active-border-color, $nav-tabs-disabled-link-color, $nav-tabs-disabled-link-color-hover);
}

.nav-lists {
  position: absolute;
  left:0;
  right:0;
  @extend .justify-content-center;
  border-top:1px solid lighten($navbar-bg-color,10%);
  ~ .playlist-list,
  ~ .artist-list,
  ~ .album-list {
    margin-top: 70px;
  }
}