
.card .has-sheet {
  position: relative;
  border-top: 1px solid $divider-color;
  z-index: 0;
  .btn-floating {
    z-index: 2;
    @include media-breakpoint-up(sm) {
      width: 24px;
      height: 24px;
      margin-right: 4px;
      margin-top: 4px;
      i {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
  .fixed-action-btn {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100%;
    top: -18px;
    text-align: right;
    padding: 0 0 0 15px;
    z-index: 0;

    .action-sheet {
      z-index: 1;
      text-align: right;
      right: -2px;
      left: 0;
      top: -3px;
      transform: translateY(-50%);
      height: $button-floating-size + 8px;
      margin: 0;
      padding: 4px;
      background: rgba($card-bg, 0.5);
      padding-right: $button-floating-size;
      border-bottom: 1px solid $divider-color;
      li {
        display: inline-block;
        margin: 0;
      }
    }
    .btn-floating {
      background-color: $accent-color;
    }
  }
}
