.album-backdrop,
.artist-backdrop {
  background-size: cover;
  height:300px;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  background-position: 50% 50%;
  z-index: 1;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height:300px;
    background-color: $backdrop-overlay-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .info-bar {
    z-index: 3;
    position: absolute;
    top:auto;
    bottom: 0;
    left: 15px;
    right: 15px;
    width: auto;
    transition: all 0.9s ease;
    &.pin-top {
      top:auto!important;
    }
    &.pinned,
    &.pin-bottom {
        @extend .z-depth-1;
        position: fixed;
        left: 0;
        right:0;
        top: 0;
        bottom: initial;
        z-index: 10;
        margin-top: 57px;
        .btn-play-album {
          top: 50%;
          margin-top: -26px;
        }
        .info-bar-image img {
          position: static;
          object-fit: contain;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
  }

  ~ * {
    margin-top: 320px;
  }
}

