.info-bar {
  @extend .media;
  margin-top: 80px;
  background-color: $primary-color;
  border: 1px solid $infobar-border-color;
  color: $primary-color-text;

  .info-bar-image {
    @include img-fluid();
    @extend .d-flex;
    @extend .z-depth-2;
    margin: 5px 15px;
    width: 50px;
    max-width: 50px;
    @include media-breakpoint-up(sm) {
      width: 150px;
      max-width: 150px;
      position: absolute;
      top: -50px;
    }
    border-radius: 100%;
    border: 4px solid $white;
  }
  .info-bar-content {
    @extend .media-body;
    padding: 5px 0;
    @include media-breakpoint-up(sm) {
      margin-left: 175px;
    }
  }
  ~ .song-list {
    padding-top: 20px;
    margin-top: -20px;
  }
}