.login {
  @include make-col();
  @include make-col-span(6);
  @include make-col-push(3);
  @include gradient-vertical();

  .form-group {
    position: relative;
    margin-bottom: 45px;
  }

  /* Label */

  input ~ label {
    position: absolute;
    pointer-events: none;
    top: 6px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: $input-color-placeholder;
    left: $input-padding-x;
  }

  input {
    background-color: $input-bg-color;
    padding: $input-padding-y $input-padding-x;
    box-sizing: border-box;
  }

  /* active */
  input:-webkit-autofill,
  input:focus,
  input.used {
    ~ label {
      top: (-1 - $input-padding-y);
      color: $accent-color;
      left: 0;
    }
  }

  /* Underline */

  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .bar:before,
  .bar:after {
    content: '';
    height: 2px;
    width: 50%;
    bottom: 1px;
    position: absolute;
    background: $divider-color;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  .bar:before {
    left: 50%;
  }

  .bar:after {
    right: 50%;
  }

  /* active */

  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
    background: $accent-color;
  }

  /* Highlight */

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active */

  input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
  }

  /* Animations */

  @-webkit-keyframes inputHighlighter {
    from {
      background: #4a89dc;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  @keyframes inputHighlighter {
    from {
      background: #4a89dc;
    }
    to {
      width: 0;
      background: transparent;
    }
  }

  /* Button */

  .btn {
    margin-top: -5px;
    margin-bottom: 10px;
    float: right;
  }

}