
#loading-overlay {

  position: fixed;
  top: $footer-fixed-height;
  left: 0;
  bottom: $footer-fixed-height;
  @include media-breakpoint-up(sm) {
    left: 200px;
  }
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.show{
    display: flex;
  }
  .display {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 6px;
    }
  }
  button {
    margin: 0;
  }
}