.slide-nav-out {
  #loading-overlay {
    left: 150px;
  }
}
.playlist-show {
  #loading-overlay {
    right: 25%;
  }
}
#loading-overlay {
  @include transition(all 0.1s ease);
  position: fixed;
  top:57px;
  left: 0;
  bottom: $footer-fixed-height;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  &.show{
    display: flex;
  }
  .display {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 6px;
    }
  }
  button {
    margin: 0;
  }
}