.toast-view {
  background-color: $primary-color-text;
  color: $primary-color;
  @extend .z-depth-2;
  border-radius: 3px;
  padding: 15px;
  transition: opacity 200ms, transform 300ms cubic-bezier(0.165,0.840,0.440,1.000);
  transform: translateY(20px);
  opacity: 0;
  will-change: transform;
  position: fixed;
  left: 50%;
  bottom: 15px;
  z-index: 1050;
  width: 200px;
  max-width: 200px;
  margin-left: -100px;
  text-align: center;
}

.toast-view--visible {
  opacity: 1;
  transform: translateY(0);
}