###> symfony/framework-bundle ###
/.idea
/.env
/bin
!/bin/console
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> node ###
/node_modules
###> node ###
config/jwt/test/private.pem
config/jwt/test/public.pem
public/uploads/artist/marianne-thorsen/cover-mozart-violin-concertos-cd-resolution.jpg
travis_rsa
