includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 3
    paths:
        - src
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcDevDebugProjectContainer.xml
