<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="KERNEL_CLASS" value="BlackSheep\Kernel" />
        <env name="APP_ENV" value="test" />
        <env name="APP_DEBUG" value="1" />
        <env name="APP_SECRET" value="s$cretf0rt3st" />
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- define your env variables for the test env here -->
        <env name="DATABASE_URL" value="mysql://root:bbg@127.0.0.1/sheeptest" />
        <env name="last_fm_secret" value="911e80b3fa95d9394aa98a525c05c986" />
        <env name="last_fm_key" value="7c5a1e33a929f805e23cf54d2b7c0576" />
        <env name="CORS_ALLOW_ORIGIN" value="^https?://localhost(:[0-9]+)?$" />
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/test/private.pem" />
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/test/public.pem" />
        <env name="JWT_PASSPHRASE" value="warcraft3" />

    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
