{# @var album \BlackSheep\MusicLibraryBundle\Entity\Albums#}
{# @var artist \BlackSheep\MusicLibraryBundle\Entity\Artist#}
<ol class="breadcrumb breadcrumb-fixed">
    <li class="breadcrumb-item">
    </li>
    {% if artist is defined and album is not defined %}
        <li class="breadcrumb-item active">
            {{ artist.name }}
        </li>
    {% endif %}
    {% if album is defined %}
        <li class="breadcrumb-item">
            <a href="{{ path('library_artist',{'artist': album.artist.slug}) }}">
                {{ album.artist.name }}
            </a>
        </li>
        <li class="breadcrumb-item active">
            {{ album.name }}
        </li>
    {% endif %}

</ol>
