<div class='playlist'>
    <div class='playlist-dropup'>
        <h5 class='playlist-header' data-playlistheader="Current Playlist">.....</h5>
        <div class='playlist-wrapper'>
            <ul data-playlist='current'>
                <li class="playlist-item">
                    <i class="material-icons">queue_music</i>
                    <div class="playlist-item-info">
                        <h5 class="mt-0">NO NO NO</h5>
                        <h6>There is no playlist</h6>
                    </div>
                </li>
            </ul>
        </div>
        <div class='playlist-actions'>
            <a href=# data-playlist_action='shuffle'>
                <i class='material-icons'>shuffle</i>
            </a>
            <a href=# data-playlist_save='{{ path('post_save_playlist') }}'>
                <i class='material-icons'>save</i>
            </a>
        </div>
    </div>
</div>