{% if album.cover is not null %}
    {% set backgroundImage = album.cover %}
{% else %}
    {% set backgroundImage = asset('frontend/img/default.png') %}
{% endif %}
<div class="card album-card">
    <a href="{{ url('library_album',{'album':album.slug }) }}" >
        <img class="card-img-top" src='{{ backgroundImage }}'/>
    </a>
    <div class="card-block has-sheet">
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn btn-floating">
                <i class="material-icons">more_horiz</i>
            </a>
            <ul class="action-sheet">
                <li><a class="btn-floating"><i class="material-icons">playlist_add</i></a></li>
            </ul>
        </div>
        <h4 class="card-title">
            {{ album.artist.name }}
        </h4>
        <p class="card-text">
            {{ album.name }}
        </p>
    </div>
</div>