<div class="card artist-card">
    <img class="card-img-top"
         src='{% if artist.image is not null %}{{ artist.image }}{% else %}{{ asset('frontend/img/default.png') }}{% endif %}'/>
    <div class="card-img-overlay">
        <h4 class="card-title">
            {{ artist.name }}
        </h4>
        <div class="card-footer text-muted actions">
            <a href="{{ path('library_artist', {'artist' : artist.slug } ) }}"
               class="btn btn-primary-outline"
            >
                detail
            </a>
        </div>
    </div>
</div>
