<nav class="sheepnav">
    <ul class="nav navbar-nav">
        <li class="navbar-brand">
            <a id="logo-container" href="#" class="brand-logo" data-activates="side-nav">
                <img class="logo" src="{{ asset('frontend/img/zwartschaap.png') }}">
                SheepMusic
            </a>
        </li>
    </ul>
    <!-- Bottom row, not visible on scroll -->
    {% block header_submenu %}
    {% endblock %}
</nav>
