<div class=" mdl-layout__drawer" v-component="sidebar">
    <span class="mdl-layout-title">
        <img class="android-logo-image" src="{{ asset('frontend/img/zwartschaap.png') }}"> SheepMusic
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#" v-link="{ path: '/' }">Go to home</a>
        <a class="mdl-navigation__link" href="#" v-link="{ path: '/artists' }">Artists</a>


        <div class="android-drawer-separator"></div>
        <span class="mdl-navigation__link" href="">Versions</span>
        <div class="android-drawer-separator"></div>
        <div class="android-drawer-separator"></div>
    </nav>
</div>