<p class="pull-xs-left hidden-sm-up">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">Toggle nav</button>
</p>
<div class="sidebar">
    <a href="{{ path('homepage') }}" class="logo-wrapper">

        <img class="logo" src="{{ asset('frontend/img/zwartschaap.png') }}">
    </a>
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('library') }}">Artists</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('library_recent_albums') }}">Recent albums</a>
        </li>
    </ul>
</div>