<nav>
    <ul id="slide-out" class="side-nav fixed">
        <li class="logo">
            <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo">

                <img class="logo" src="{{ asset('frontend/img/zwartschaap.png') }}">
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('library') }}">Artists</a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('library_recent_albums') }}">Recent albums</a>
        </li>

    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse top-nav"> &#9776;</a>
</nav>