{% if artist.slug %}
    <a href="{{ path('library_artist', {'artist' : artist.slug } ) }}" class="card artist-card">


        <img class="card-img-top"
             src='{% if artist.image is not null %}
                            {{ artist.image }}{% else %}{{ asset('frontend/img/default.png') }}
                      {% endif %}'/>

        <div class="card-block">
            <h4 class="card-title">
                {{ artist.name }}

            </h4>
        </div>

    </a>
{% endif %}
