{% extends app.request.xmlHttpRequest
? '@App/Layout/ajaxLayout.html.twig'
: '@App/Layout/layout.html.twig' %}

{% block content %}
    {% include '@App/Components/breadcrumbs.html.twig' %}
    <div class="artist-backdrop backdrop"
         style="background-image: url('{% if artist.albumArt is not null %}{{ artist.albumArt }}{% endif %}')">
        {% include '@App/Artist/info-bar.html.twig' with {'artist': artist} only %}
    </div>
    {% if artist.albums|length > 0 %}
        {% include '@App/Album/list.html.twig' with { 'albums': artist.albums} %}
    {% else %}
        {% include '@App/Songs/album-list.html.twig' with {'album': artist} only %}
    {% endif %}
{% endblock %}

