<div class="artist-list">
    {% for artist in artists %}
        <div class="card-col">
            {% include '@App/Artist/card.html.twig' with {'artist': artist} only %}
        </div>
    {% endfor %}
</div>