{# @var album \BlackSheep\MusicLibraryBundle\Model\AlbumInterface#}
{% extends app.request.xmlHttpRequest
? '@App/Layout/ajaxLayout.html.twig'
: '@App/Layout/layout.html.twig' %}

{% block content %}
    {% include '@App/Components/breadcrumbs.html.twig' %}
    {% if album.cover is not null %}
        {% set backgroundImage = "background-image: url('" ~ asset(album.cover) ~"')" %}
    {% endif %}
    <div class="album-backdrop backdrop" {% if album.cover is not null %} style="{{ backgroundImage }}" {% endif %}>
        {% include '@App/Album/info-bar.html.twig' with {'album': album} only %}
    </div>
    {% include '@App/Songs/album-list.html.twig' with {'songs': album.songs} only %}

{% endblock %}

