<div class="album-list">
    {% for album in albums %}
        <div class="card-col">
            {% include '@App/Album/card.html.twig' with {'album': album} only %}
        </div>
    {% endfor %}
</div>