{% extends 'Layout/layout.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
<main role="main" class="container-fluid  {% block extra_layout_classes %}{% endblock %}">
    <div class="row">
    {% block fos_user_content %}{% endblock %}
    </div>
</main>
{% endblock %}