{% extends app.request.xmlHttpRequest
    ? 'Layout/ajaxLayout.html.twig'
    : 'Layout/layout.html.twig'%}
{% if app.request.xmlHttpRequest == false %}
    {% block header_submenu %}
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
    {% endblock %}
{% endif %}



{% block content %}
    <div class="mdl-grid">
        {% for artist in artists %}
            {% include '@BlackSheepMusicLibrary/Partials/artist-card.html.twig' with {'artist': artist} only %}
        {% endfor %}
    </div>
{% endblock %}