@mixin make-col-span($size, $columns: $grid-columns) {
  @if $enable-flex {
    flex: 1 0 percentage($size / $columns);
    min-width: percentage($size / $columns);
    max-width: percentage(($size + 1) / $columns);
  } @else {
    width: percentage($size / $columns);
  }
}

.album-list {
  @extend .card-deck;
  color: $primary-color-text;
  .album-card {

      @include make-col(0rem);
      @include make-col-span(6);
      @include media-breakpoint-up(md) {
        @include make-col-span(4)
      }
      @include media-breakpoint-up(lg) {
        @include make-col-span(2.5)
      }
      @include media-breakpoint-up(xl) {
        @include make-col-span(2)
      }


    flex-direction: row;
    flex-shrink: 1 !important;
    flex-grow: 1 !important;


  }
}

.album-card {
  position: relative;
  .card-img-overlay {
    position: static;
    @include media-breakpoint-up(md) {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: $rgba-stylish-strong;
    }
  }
  .card-img-top {
    @include img-fluid();
    width: 100%;
  }
  .card-text,
  .card-title {
    @include media-breakpoint-up(md) {
      padding: 1.25rem;
    }
  }
  .card-footer {
    background-color: $rgba-stylish-strong;
  }
  .text {

  }
  .actions {
    margin-top: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    padding-right: 0;
  }
  .song-list {
    li {
      background: $rgba-stylish-strong;
    }
  }
}



.info-bar.album {

  padding-bottom: 0;

  .info-bar-image {
    margin-left: -2.0rem;
    margin-top: -10px;
    @include make-col-span(3);
    img {
      width: 100%;
    }
  }
  .info-bar-content {
    @include make-col-span(9);
    color: $primary-color-text;
    &.album-name {
      display: block;
      width: 100%;
    }
  }
}
