.album-list {
  @extend .card-deck;
  .album-card {
      @include make-col-span(6);
      @include media-breakpoint-up(sm) {
        @include make-col-span(4)
      }
      @include media-breakpoint-up(md) {
        @include make-col-span(3)
      }
      @include media-breakpoint-up(lg) {
        @include make-col-span(2.5)
      }
      flex-direction: row;
      flex-shrink: 1 !important;
      flex-grow: 0 !important;
      padding-bottom: 70px;
    }
}
.album-card {
  .card-img-top {
    @include img-fluid();
  }
  .card-block {
    border-top:1px solid $card-border-color;
  }
  .title {

  }
  .text {

  }
  .actions {

  }
}