
.album-list {
  @extend .card-deck;
  color: $primary-color-text;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
  .card {
    @include make-col(3);
    display: block;
    flex-basis: 20%; /* change this value for each breakpoint*/
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.card.album-card {
  position: relative;
  .card-img-overlay {
    position: static;
    @include media-breakpoint-up(md) {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: $rgba-stylish-strong;
    }
  }
  .card-text,
  .card-title {
      font-size: 0.8rem;
      line-height: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 100%;
      height: 2rem;
      padding: 0.25rem;
      margin:0;
  }
  .card-title {
    font-size: 1rem;
    line-height: 1rem;
    height: 2.1rem;
  }
  .card-footer {
    background-color: $rgba-stylish-strong;
  }
  .text {

  }
  .actions {
    margin-top: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    padding-right: 0;
  }
  .song-list {
    li {
      background: $rgba-stylish-strong;
    }
  }
}



.info-bar.album {

  padding-bottom: 0;

  .info-bar-image {
    margin-left: -2.0rem;
    margin-top: -10px;
    @include make-col(3);
    img {
      width: 100%;
    }
  }
  .info-bar-content {
    @include make-col(9);
    color: $primary-color-text;
    &.album-name {
      display: block;
      width: 100%;
    }
  }
}
