.card.album-card {
  position: relative;
  .card-img-overlay {
    position: static;
    @include media-breakpoint-up(md) {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: rgba($primary-color-dark, 0.95);
    }
  }
  .card-footer {
    background-color: rgba($primary-color-dark, 0.95);
  }
  .text {

  }
  .actions {
    margin-top: auto;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: right;
    padding-right: 0;
  }
  .song-list {
    li {
      background: rgba($primary-color-dark, 0.95);
    }
  }
}
