.artist-list {
  @extend .card-deck;
  color: $primary-color-text;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
  .card {
    display: block;
    flex-basis: 20%; /* change this value for each breakpoint*/
    margin-bottom: 1rem;
  }
}
.artist-card {
  color: $primary-text-color;
  font-size: 0.8rem;
  .card-text,
  .card-title {
    font-size: 0.9rem;
    line-height: 1.0rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    padding: 0.25rem;
    margin:0;
  }

  .card-reveal {
    .btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.info-bar.artist {
  .info-bar-content {
    color: $primary-color-text;
    &.artist-name {

    }
  }
}

.artist-info {
  @extend .media;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgba($accent-color, 0.8);
  .artist-image {
    @extend .media-left;
    img {
      @extend .media-object;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  .artist-content{
    @extend .media-body;
    .artist-name{
      @extend .media-heading;
    }
  }
}