.info-bar.artist {
  background-color: $card-bg;
  border: 1px solid $card-border-color;
  .info-bar-content {
    color: $primary-color-text;
    &.artist-name {

    }
  }
}
.card-deck {

}
.artist-card {
  position: relative;
    .card-deck & {
      @include make-col(0rem);
      @include make-col-span(4);
      @include media-breakpoint-up(md) {
        @include make-col-span(3)
      }
      @include media-breakpoint-up(lg) {
        @include make-col-span(2.5)
      }
      flex-direction: row;
      flex-shrink: 1 !important;
      flex-grow: 1 !important;
  }
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $rgba-stylish-strong;
  }
  .card-img-top {
      @include img-fluid();
    width: 100%;
  }
  .card-text,
  .card-title {
    word-break: break-word;
    padding: 1.25rem;
    background-color: $rgba-stylish-strong;
  }
  .card-footer {
    background-color: $rgba-stylish-strong;
  }
  .text {

  }
  .actions {
    margin-top: auto;
    width: 100%;
  }
}