.artist-list,
.album-list {
  padding-top: 15px;
  color: $primary-color-text;
  @include make-row($grid-gutter-widths);
  .card-col {
    margin-bottom: 1rem;
    @include make-col-ready($grid-gutter-widths);
    @include make-col(6);
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(2.4);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(2);
    }
    .card {
      height: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  ~ .pagination {
    @extend .justify-content-center;
    @include media-breakpoint-up(sm) {
      position: fixed;
      z-index: 999;
      bottom: 54px;
      left: 0;
      right: 0;
      background: $pagination-bg;
    }
  }
}