.artist-list,
.album-list {
  padding-top: 15px;
  color: $primary-color-text;
  @include make-row($grid-gutter-widths);
  .card-col {
    margin-bottom: 1rem;
    @include make-col-ready($grid-gutter-widths);
    @include make-col(6);
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(12/4);
    }
    @include media-breakpoint-up(xl) {
      @include make-col(2);
    }
  }
  .card {
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .card-text,
    .card-title {
      font-size: 0.8rem;
      line-height: 0.9rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 2rem;
      padding: 0.25rem;
      margin: 0;
    }
  }
}