.song-list{
  background-color: $songlist-bg-color;
  box-shadow: 0 2px 5px 0 rgba($primary-color-light,0.5), 0 2px 10px 0 rgba($primary-color-light,0.6);
  .song-list-header,
  .song-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .song-list-header
  {
    border-bottom: 3px solid $accent-color;
    .col {
      font-weight: 700;
      padding: 0.8rem 0.5rem 0.3rem;
      border-bottom: none;
      height: auto;
    }
  }
  .song-list-item {
    border-bottom: 1px solid $divider-color;
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(odd){
      background:rgba($primary-color-light,0.2);
    }
    &:hover {
      background-color:rgba($primary-color-light,0.5);
      &:nth-child(odd){
        background:rgba($primary-color-light,0.8);
      }
      .action {
        a {
          display: block;
        }
        span {
          display: none;
        }
      }
    }
    .action a {
      display: none;
    }
  }
  .col{
    padding: 5px 15px;
    display: inline-block;
    flex: 1 1 auto;
    vertical-align: middle;
    width: 25%;
    &.col-track {
      text-align: right;
    }
    &.col-playcount,
    &.col-track {
      text-align: center;
      width: 10%;
    }
    &.col-title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    &.col-duration {
      text-align: center;
    }
    &.col-artist {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    &.col-queue {
      text-align: right;
    }
  }
}