<!-- Image and text -->
<nav class="sheepnav navbar navbar-toggleable navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#" data-activates="side-nav">
        <img class="logo" src="{{ asset('frontend/img/zwartschaap.png') }}">
        SheepMusic
    </a>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and is_granted('ROLE_USER') %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown nav-item ">
                <a class="btn btn-floating"
                   id="profile"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    <i class="material-icons">person_outline</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile">
                    <a href="{{ path('black_sheep_user_homepage') }}" class="dropdown-item">Profile</a>
                    <a href="{{ path('black_sheep_last_fm_homepage') }}" class="dropdown-item">LastFm</a>
                    <a href="{{ logout_path() }}" class="dropdown-item">Logout</a>
                </div>
            </li>

        </ul>
    </div>
    {% endif %}
</nav>
