<div id="barba-wrapper" class="main-content">
    <div class="barba-container">
        {% include ':Components:flashmessage.html.twig' %}
        {% block content %}
        {% endblock %}
    </div>
</div>
