.player {
  z-index: 4;
  .plyr {
    display: flex;
    background-color: $player-bg-color;
    border-top: 1px solid $player-border-color;
    border-bottom: 1px solid $player-border-color;

    button {
      height: $footer-fixed-height;
      width: 25%;
      background-color: transparent;
      color: $accent-color;
      border: none;
      text-align: center;
      padding: 0.2rem;
      i {
        display: block;
        font-size: 2rem;
      }
      &.tab-focus:focus,
      &:hover {
        background: $accent-color;
        color: $player-bg-color;
      }
    }
    .player-controls {
      @include make-col-ready();
      @include make-col(3);
      @include media-breakpoint-down(sm) {
        @include make-col(4);
      }

      button {
        width: 20%;
        @include media-breakpoint-down(sm) {
          width: 33.33%;
        }
      }
      .icon--muted {
        display: none;
      }
      [data-plyr='fast-forward'],
      [data-plyr='rewind'] {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
    .player-info {
      @include make-col-ready();
      @include make-col(6);
      @include media-breakpoint-down(sm) {
        @include make-col(4);
      }
      position: relative;
      button {
        margin-top: -30px;
        height: 50px;
        float: right;
        i {
          font-size: 20px;
        }
      }
      .song-image {
        width: auto;
        height: 70px;
        float: left;
        margin-right: 15px;
        margin-left: -15px;
      }
      .progress-wrapper {
        position: absolute;
        top: 0;
        left: 70px;
        right: 15px;
        padding-top: 1px;
        margin-bottom: -1px;
        * {
          border-radius: 0;
        }
      }
      #now-playing {
        margin-top: 10px;
        .playing-song-title {
          margin-left: -10px;
        }
      }

      #time {
        float: right;
        width: 50%;
        text-align: right;
        > div {
          float: left;
          width: 50%;
        }
      }
    }
    .player-extra {
      @include make-col-ready();
      @include make-col(3);
      @include media-breakpoint-down(sm) {
        @include make-col(4);
      }
      button {
        margin-top: 20px;
        height: 50px;
        i {
          font-size: 20px;
        }
      }
    }
    .plyr__volume {
      position: absolute;
      top: 0;
      right: 65px;
      left: 15px;
      /* width: 100%; */
      max-width: 100%;
      .plyr__volume__display {
        border-radius: 0;
      }
    }
    // Change icons on state change
    &.plyr--muted .plyr__controls .icon--muted {
      display: block;
      & + i {
        display: none;
      }
    }
    .plyr__time--current,
    .plyr__time--duration {
      position: absolute;
      top: 15px;
      left: 75px;
      color:$player-txt-color;
    }
    .plyr__time--duration {
      left:auto;
      right:15px;
    }

  }
  .dropup {
    position: absolute;
    left: 0;
    right: 0;
    .btn {
      position: absolute;
      right: 15px;
      top: -16.5px;
    }
  }
}

