.player {
  @include make-row();

  background-color: $player-bg-color;
  border-top: 1px solid $player-border-color;
  border-bottom: 1px solid $player-border-color;
  .player-button {
    color: $player-button-color;
  }
  .player-controls {
   @include make-col-ready();
   @include make-col(3);
    .player-button {
      height: 70px;
      width: 33%;
      float: left;
    }
  }
  .player-info {
    @include make-col-ready();
    @include make-col(6);
    position: relative;
    .song-image {
      width: auto;
      height: 70px;
      float: left;
      margin-right:0.625rem;
      margin-left: -0.625rem;
    }
    .progress-wrapper {
      padding-top:1px;
      margin-bottom: -1px;
      margin-left: calc(71px - 0.625rem);
    }

    #time {
      float: right;
      width: 50%;
      text-align: right;
      > div {
        float: left;
        width: 50%;
      }
    }
  }
  .player-extra {
    @include make-col-ready();
    @include make-col(3);
    .player-button {
      height: $footer-fixed-height - 30px;
      padding-left: 1.5rem;
      i {
        font-size: $footer-fixed-height - 30px;
        &.hide {
          display: none;
        }
      }
    }
    .actions-wrapper {
      float: right;
      padding-right: 20px;
      .mdl-button--icon {
        height: $footer-fixed-height - 30px;
        width: $footer-fixed-height - 30px;
        i {
          font-size: $footer-fixed-height - 40px;
          line-height: $footer-fixed-height - 40px;
          width: $footer-fixed-height - 40px;
          transform: translate(-($footer-fixed-height - 40px) /2, -($footer-fixed-height - 40px) /2);
        }
      }
    }
  }
  .progress-wrapper,
  .volume-wrapper {
    height: 20px;
    text-align: center;
  }

  .progress-wrapper {
    margin-left: 70px;
    transition: all 0.5s linear;
    .progress {
      transition: all 0.5s linear;
    }
    .plyr {
      display:none;
    }
  }

}