.playlist {

  .navbar-toggler {
    float: right;
  }
  .playlist-header {
    padding-top: 30px;
  }
  background-color: $navbar-bg-color;
  ul {
    @extend .list-group;
    li {
      @extend .list-group-item;
      background-color: $primary-color-light;
    }
  }
}