.btn-playlist {
  @extend .btn-primary;
  margin-top: 0;
  padding: 6px 8px 0;
  z-index: 3;
  i {
    font-size: 24px;
    position: absolute;
    left: 1px;
    top: 0px;
  }
  &:after {
    display: none;
  }
}

.player {
  .playlist-dropup {
    overflow: hidden;
    opacity: 0;
    background-color: $playlist-bg-color;
    color: $playlist-txt-color;
  }
  .playlist {
    z-index: 3;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0 15px;
    transition: all 1s ease 0.1s;
    color: $playlist-txt-color;


    * {

    }
    .playlist-header {
      padding-top: 15px;
      margin-bottom: 15px;
    }

    ul {
      @extend .nav;
      @extend .flex-column;
      overflow-y: scroll;
      position: relative;
      height: calc(100vh - 300px);
      li {
        @extend .nav-item;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $divider-color;
        display: block;
        color: $playlist-txt-color;
        line-height: 48px;
        a, span
        {
          color: $playlist-txt-color;
          margin-right: 5px;
          font-size: 1.1rem;
          border-radius: 100%;
          line-height: 24px;
          width: 24px;
          height: 24px;
          display: inline-block;
          text-align: center;
        }
        a {
          margin-top: 5px;
          display: none;
          background: $white;
          height: 36px;
          width: 36px;
          line-height: 48px;
        }
        &:hover {
          background-color: $accent-color;
          a,span {
            color: $primary-text-color;
          }
          a {
            display: inline-block;
            float: right;
          }
        }
      }
    }
    .playlist-actions {
      height: 100px;
    }
  }
  .show > .playlist-dropup {
    top: auto;
    left: 0;
    bottom: 0;
    height: calc(100vh - 190px);
    opacity: 1;
  }
}