// ==========================================================================
// Plyr styles
// https://github.com/selz/plyr
// ==========================================================================

@import "../../../public/vendor/plyr/src/scss/variables";
@mixin plyr-range-track() {
  height: $plyr-range-track-height;
  background: transparent;
  border: 0;
  border-radius: 0;
  user-select: none;
}
@mixin plyr-range-thumb() {
  position: relative;
  height: $plyr-range-thumb-height;
  width: $plyr-range-thumb-width;
  background: $plyr-range-thumb-bg;
  border: $plyr-range-thumb-border;
  border-radius: 100%;
  transition: background .2s ease, border .2s ease, transform .2s ease;
  box-shadow: $plyr-range-thumb-shadow;
  box-sizing: border-box;
  margin-top: 4px;
}
@mixin plyr-range-thumb-active() {
  background: $plyr-range-thumb-active-bg;
  border-color: $plyr-range-thumb-active-border-color;
  transform: scale($plyr-range-thumb-active-scale);
}

// Animation
// ---------------------------------------
@keyframes plyr-progress {
  to { background-position: $plyr-progress-loading-size 0; }
}

// Styles
// -------------------------------
// Base
.plyr {
  position: relative;
  max-width: 100%;
  min-width: 200px;
  direction: ltr;

  @if $plyr-border-box == true {
    // border-box everything
    // http://paulirish.com/2012/box-sizing-border-box-ftw/
    &,
    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
  }

  @if $plyr-touch-action == true {
    // Fix 300ms delay
    a, button, input, label {
      touch-action: manipulation;
    }
  }

  // Focus
  &:focus {
    outline: 0;
  }

  // Media elements
  video,
  audio {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: inherit;
  }

  // Range inputs
  // Specificity is for bootstrap compatibility

  input[type='range'] {
    display: block;
    height: ($plyr-range-thumb-height * $plyr-range-thumb-active-scale);
    width: 100%;
    margin: -15px 0 0;
    padding: 0;
    vertical-align: middle;

    appearance: none;
    cursor: pointer;
    border: none;
    background: transparent;

    // WebKit
    &::-webkit-slider-runnable-track {
      @include plyr-range-track();
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -(($plyr-range-thumb-height - $plyr-range-track-height) / 2);
      @include plyr-range-thumb();
    }

    // Mozilla
    &::-moz-range-track {
      @include plyr-range-track();
    }
    &::-moz-range-thumb {
      @include plyr-range-thumb();
    }

    // Microsoft
    &::-ms-track {
      height: $plyr-range-track-height;
      background: transparent;
      border: 0;
      color: transparent;
    }
    &::-ms-fill-upper {
      @include plyr-range-track();
    }
    &::-ms-fill-lower {
      @include plyr-range-track();
      background: $plyr-range-selected-bg;
    }
    &::-ms-thumb {
      @include plyr-range-thumb();
      // For some reason, Edge uses the -webkit margin above
      margin-top: 0;
    }
    &::-ms-tooltip {
      display: none;
    }

    // Focus styles
    &:focus {
      outline: 0;
    }
    &::-moz-focus-outer {
      border: 0;
    }
    &.tab-focus:focus {
      outline-offset: 3px;
    }

    // Pressed styles
    &:active {
      &::-webkit-slider-thumb {
        @include plyr-range-thumb-active();
      }
      &::-moz-range-thumb {
        @include plyr-range-thumb-active();
      }
      &::-ms-thumb {
        @include plyr-range-thumb-active();
      }
    }
  }
}

// Video range inputs
.plyr--video input[type='range'].tab-focus:focus {
  outline: 1px dotted transparentize($plyr-video-control-color, .5);
}

// Audio range inputs
.plyr--audio input[type='range'].tab-focus:focus {
  outline: 1px dotted transparentize($plyr-audio-control-color, .5);
}

// Screen reader only elements
.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;

  // !important is not always needed
  @if $plyr-sr-only-important == true {
    position: absolute !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
  } @else {
    position: absolute;
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
  }
}




// Controls
// --------------------------------------------------------------
// Hide native controls
.plyr ::-webkit-media-controls {
  display: none;
}

// Playback controls
.plyr__controls {

  // Buttons
  button {
    cursor: pointer;
    transition: background .3s ease, color .3s ease, opacity .3s ease;
    color: inherit;

    // Default focus
    &:focus {
      outline: 0;
    }
  }
}

// Audio controls
.plyr--audio .plyr__controls {
  button {
    // Hover and tab focus
    &.tab-focus:focus,
    &:hover {
      background: $plyr-audio-control-bg-hover;
      color: $plyr-audio-control-color-hover;
    }
  }
}



// States
.plyr__controls [data-plyr='pause'],
.plyr--playing .plyr__controls [data-plyr='play'] {
  display: none;
}
.plyr--playing .plyr__controls [data-plyr='pause'] {
  display: block;
}

// Change icons on state change
.plyr--fullscreen-active .icon--exit-fullscreen,
.plyr--muted .plyr__controls .icon--muted,
.plyr--captions-active .plyr__controls .icon--captions-on {
  display: block;

  & + svg {
    display: none;
  }
}
// Tooltips
// --------------------------------------------------------------
.plyr__tooltip {
  position: absolute;
  z-index: 2;
  bottom: 100%;
  margin-bottom: ($plyr-tooltip-padding * 2);
  padding: $plyr-tooltip-padding ($plyr-tooltip-padding * 1.5);
  pointer-events: none;

  opacity: 0;
  background: $plyr-tooltip-bg;
  border-radius: $plyr-tooltip-radius;

  color: $plyr-tooltip-color;
  font-size: $plyr-font-size-small;
  line-height: 1.3;

  transform: translate(-50%, 10px) scale(.8);
  transform-origin: 50% 100%;
  transition: transform .2s .1s ease, opacity .2s .1s ease;

  &::before {
    // Arrows
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);

    // The background triangle
    bottom: -$plyr-tooltip-arrow-size;
    border-right: $plyr-tooltip-arrow-size solid transparent;
    border-top: $plyr-tooltip-arrow-size solid $plyr-tooltip-bg;
    border-left: $plyr-tooltip-arrow-size solid transparent;
    z-index: 2;
  }
}
.plyr button:hover .plyr__tooltip,
.plyr button.tab-focus:focus .plyr__tooltip,
.plyr__tooltip--visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}
.plyr button:hover .plyr__tooltip {
  z-index: 3;
}

// First tooltip
.plyr__controls button:first-child .plyr__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(.8);
  transform-origin: 0 100%;

  &::before {
    left: ($plyr-control-icon-size / 2) + $plyr-control-padding;
  }
}

// Last tooltip
.plyr__controls button:last-child .plyr__tooltip {
  right: 0;
  transform: translate(0, 10px) scale(.8);
  transform-origin: 100% 100%;

  &::before {
    left: auto;
    right: ($plyr-control-icon-size / 2) + $plyr-control-padding;
    transform: translateX(50%);
  }
}

.plyr__controls button:first-child,
.plyr__controls button:last-child {
  &:hover .plyr__tooltip,
  &.tab-focus:focus .plyr__tooltip,
  .plyr__tooltip--visible {
    transform: translate(0, 0) scale(1);
  }
}

// Playback progress
// --------------------------------------------------------------
// <progress> element
.plyr__progress {
  display: none;
  position: relative;
  flex: 1;

  input[type="range"] {
    position: relative;
    z-index: 2;

    &::-webkit-slider-runnable-track {
      background: transparent;
    }
    &::-moz-range-track {
      background: transparent;
    }
    &::-ms-fill-upper {
      background: transparent;
    }
  }

  // Seek tooltip to show time
  .plyr__tooltip {
    left: 0;
  }
}
.plyr .plyr__progress {
  display: inline-block;
}

.plyr__progress--buffer,
.plyr__progress--played,
.plyr__volume--display {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: $plyr-range-track-height;
  margin: -($plyr-range-track-height / 2) 0 0;
  padding: 0;
  vertical-align: top;
  appearance: none;
  border: none;
  border-radius: 0;

  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    background: currentColor;
    border-radius: 0;
    min-width: $plyr-range-track-height;
  }
  &::-moz-progress-bar {
    background: currentColor;
    border-radius: 0;
    min-width: $plyr-range-track-height;
  }
  &::-ms-fill {
    border-radius: 0;
  }
}
.plyr__progress--played,
.plyr__volume--display {
  z-index: 1;
  color: $plyr-range-selected-bg;
  background: transparent;
  transition: none;

  &::-webkit-progress-value {
    min-width: $plyr-range-track-height;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }
  &::-moz-progress-bar {
    min-width: $plyr-range-track-height;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }
  &::-ms-fill {
    display: none;
  }
}
.plyr__progress--buffer {
  &::-webkit-progress-value {
    transition: width .2s ease;
  }
  &::-moz-progress-bar {
    transition: width .2s ease;
  }
  &::-ms-fill {
    transition: width .2s ease;
  }
}
.plyr--video .plyr__progress--buffer,
.plyr--video .plyr__volume--display {
  background: $plyr-video-range-track-bg;
}
.plyr--video .plyr__progress--buffer {
  color: $plyr-video-progress-buffered-bg;
}
.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
  background: $plyr-audio-range-track-bg;
}
.plyr--audio .plyr__progress--buffer {
  color: $plyr-audio-progress-buffered-bg;
}

// Loading state
.plyr--loading .plyr__progress--buffer {
  animation: plyr-progress 1s linear infinite;
  background-size: $plyr-progress-loading-size $plyr-progress-loading-size;
  background-repeat: repeat-x;
  background-image: linear-gradient(
                  -45deg,
                  $plyr-progress-loading-bg 25%,
                  transparent 25%,
                  transparent 50%,
                  $plyr-progress-loading-bg 50%,
                  $plyr-progress-loading-bg 75%,
                  transparent 75%,
                  transparent);
  color: transparent;
}
.plyr--video.plyr--loading .plyr__progress--buffer {
  background-color: $plyr-video-progress-buffered-bg;
}
.plyr--audio.plyr--loading .plyr__progress--buffer {
  background-color: $plyr-audio-progress-buffered-bg;
}

// Time
// --------------------------------------------------------------
.plyr__time {
  display: inline-block;
  vertical-align: middle;
  font-size: $plyr-font-size-small;
}
// Media duration hidden on small screens
.plyr__time + .plyr__time {
  display: none;

  @media (min-width: $plyr-bp-screen-md) {
    display: inline-block;
  }

  // Add a slash in before
  &::before {
    content: '\2044';
    margin-right: $plyr-control-spacing;
  }
}

// Volume
// --------------------------------------------------------------
.plyr__volume {
  display: none;
}
.plyr .plyr__volume {
  flex: 1;
  position: relative;

  input[type="range"] {
    position: relative;
    z-index: 2;
  }
  @media (min-width: $plyr-bp-screen-sm) {
    display: block;
    max-width: 60px;
  }
  @media (min-width: $plyr-bp-screen-md) {
    max-width: 100px;
  }
}

// Hide sound controls on iOS
// It's not supported to change volume using JavaScript:
// https://developer.apple.com/library/safari/documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/Device-SpecificConsiderations/Device-SpecificConsiderations.html
.plyr--is-ios .plyr__volume,
.plyr--is-ios [data-plyr='mute'] {
  display: none !important;
}
