// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

/* ==========  Options  ========== */
$enable-flex:               true;
$enable-rounded:            false;
$enable-shadows:            true;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;

/* ==========  IMAGES  ========== */
$image_path: 'frontend/img';

/* ==========  Custom colors  ========== */
$primary-color-dark:   $stylish-color-dark;
$primary-color:        $stylish-color;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;


/* ==========  Player  ========== */
$player-bg-color : $primary-color-text;
$player-border-color: $rgba-stylish-strong;
$player-txt-color : $primary-text-color;
$player-button-color: $accent-color;

/* ==========  Footer  ========== */
$footer-fixed-height: 70px;
$footer-bg-color: $gray-dark;
$footer-color: $brand-primary;
$footer-heading-color: $brand-primary;
$footer-button-fill-color: $footer-color;
$footer-underline-color: $footer-color;


/* ==========  Login  ========== */

$login-header-color: $brand-primary;

/* ==========  Bootstrap  ========== */
$brand-primary:             $primary-color;
$brand-success:             #5cb85c;
$brand-info:                $primary-color-dark;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// navbar

$navbar-dark-color: $primary-color-text;
$navbar-bg-color: $primary-color;
$navbar-border-color: lighten($primary-color-dark,15%);
// Body
//
// Settings for the `<body>` element.

$body-bg:                    #fafafa;
$body-color:                 $primary-color-text;

// btn

$btn-primary-color: $primary-color-text;
$btn-primary-bg: $accent-color;
$btn-primary-border: $accent-color;

// Links
//
// Style anchor elements.

$link-color:                 $primary-color-light;
$link-decoration:            none;
$link-hover-color:           $accent-color;
$link-hover-decoration:      none;


// card
$card-bg: $primary-color-dark;
$card-border-color: $primary-color-dark;
$card-link-hover-color: $accent-color;
$card-footer-color:  $primary-color-text;
$card-cap-bg: $primary-color-light;