{# @var playlist \BlackSheep\MusicLibraryBundle\Model\PlaylistInterface#}
{% extends app.request.xmlHttpRequest
? '@App/Layout/ajaxLayout.html.twig'
: '@App/Layout/layout.html.twig' %}

{% block content %}
    {% include '@App/Components/breadcrumbs.html.twig' %}
    {% if playlist.cover is not null %}
        {% set backgroundImage = "background-image: url('" ~ asset(playlist.cover) ~"')" %}
    {% endif %}
    <div class="album-backdrop backdrop" {% if playlist.cover is not null %} style="{{ backgroundImage }}" {% endif %}>
        {% include '@App/Playlist/info-bar.html.twig' with {'playlist': playlist} only %}
    </div>
    {% include '@App/Songs/album-list.html.twig' with {'songs': playlist.songs} only %}

{% endblock %}

