{# @var playlist \BlackSheep\MusicLibraryBundle\Entity\PlaylistEntity #}

<div class="info-bar album media">
    {% if playlist.cover is not null %}
    <img class="info-bar-image"
         src="{{ playlist.cover }}"/>
    {% endif %}
    <div class="info-bar-content media-body">
        <h1 class="album-name">{{ playlist.name }}</h1>
        <a class="btn btn-floating btn-play" data-play_playlist={{ path('get_playlist', {'playlist' : playlist.id}) }}>
            <i class="material-icons">play_arrow</i>
        </a>
        <a class="btn btn-floating btn-queue" data-queue_playlist={{ path('get_playlist', {'playlist' : playlist.id}) }}>
            <i class="material-icons">queue</i>
        </a>
    </div>
</div>