<div class="playlist-list">
    {% for playlist in playlists %}
        <div class="card-col">
            {% include '@App/Playlist/card.html.twig' with {'playlist': playlist} only %}
        </div>
    {% endfor %}
</div>