{% extends app.request.xmlHttpRequest
? 'Layout/ajaxLayout.html.twig'
: 'Layout/layout.html.twig' %}

{% block content %}
    {% include '@App/Components/breadcrumbs.html.twig' %}
    <div class="artist-backdrop backdrop"
         style="background-image: url('{% if artist.albumArt is not null %}{{ artist.albumArt }}{% endif %}')">
        {% include '@App/Artist/info-bar.html.twig' with {'artist': artist} only %}
    </div>
    <div class="album-list">
        {% for album in artist.albums %}
            <div class="card-col">
                {% include '@App/Partials/album-card.html.twig' with {'album': album} only %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

